<div class="sidebar-header">
    <div class="logo">
        <i class="fab fa-spotify"></i>
    </div>
</div>

<nav class="sidebar-nav">
    <div class="nav-section">
        <h2 class="section-title">Your Library</h2>
        <button class="create-btn" id="library-create-btn">
            <i class="fas fa-plus"></i>
            Create
        </button>
    </div>

    <div class="nav-tabs">
        <button class="nav-tab" data-type="playlist">Playlists</button>
        <button class="nav-tab active" data-type="artist">Artists</button>
    </div>

    <div class="search-library">
        <div class="search-library-wrap">
            <button class="search-library-btn">
                <i class="fas fa-search"></i>
            </button>
            <input
                class="search-library-input"
                placeholder="Search in Playlists"
            />
        </div>
        <button class="sort-btn">
            <span class="sort-btn-text">Recents</span>
            <span class="sort-btn-icon"><i class="fas fa-list"></i></span>
        </button>
    </div>

    <!-- Default list -->
    <div class="library-content library-default_list"></div>

    <!-- Compact list -->
    <div class="library-content library-compact_list"></div>

    <!-- Compact grid -->
    <div class="library-content library-compact_grid">
        <div class="library-item library-compact-grid-item active">
            <img
                src="./public/placeholder.svg?height=48&width=48"
                alt="Trúc Nhân"
                class="library-compact-grid-item-image item-image"
            />
        </div>
        <div class="library-item library-compact-grid-item">
            <img
                src="./public/placeholder.svg?height=48&width=48"
                alt="Trúc Nhân"
                class="library-compact-grid-item-image item-image"
            />
        </div>
        <div class="library-item library-compact-grid-item">
            <img
                src="./public/placeholder.svg?height=48&width=48"
                alt="Trúc Nhân"
                class="library-compact-grid-item-image item-image"
            />
        </div>
    </div>

    <!-- Default grid -->
    <div class="library-content library-default_grid"></div>
</nav>
