<div class="playlist-wrapper">
    <div class="playlist-header"></div>
    <div class="playlist-body">
        <div class="playlist-body-options">
            <div class="playlist-body-options_left">
                <span class="playlist-body-options_left-icon"
                    ><i class="fa-solid fa-user-plus"></i
                ></span>
                <span class="playlist-body-options_left-icon"
                    ><i class="fa-solid fa-ellipsis"></i
                ></span>
            </div>
            <div class="playlist-body-options_right">
                <div class="playlist-body-options_right-list">
                    <span class="playlist-body-options_right-list-text"
                        >List</span
                    >
                    <span class="playlist-body-options_right-list-icon"
                        ><i class="fa-solid fa-list"></i
                    ></span>
                </div>
            </div>
        </div>
        <div class="playlist-body-suggest">
            <div class="playlist-body-suggest-left">
                <h2 class="playlist-body-suggest-left-text">
                    Let's find something for your playlist
                </h2>
                <div class="playlist-body-suggest-left_search">
                    <span class="playlist-body-suggest-left_search-icon"
                        ><i class="fa-solid fa-magnifying-glass"></i
                    ></span>
                    <input
                        placeholder="Search for songs or episodes"
                        class="playlist-body-suggest-left_search-input"
                    />
                </div>
            </div>
            <div class="playlist-body-suggest-right">
                <button class="playlist-body-suggest-right-close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>
    </div>
</div>
