<footer class="player">
    <audio id="audio"></audio>
    <div class="player-left"></div>

    <div class="player-center">
        <div class="player-controls">
            <button class="control-btn control-btn__suffle active">
                <i class="fas fa-random"></i>
            </button>
            <button class="control-btn control-btn__previous">
                <i class="fas fa-step-backward"></i>
            </button>
            <button class="control-btn control-btn__pause play-btn">
                <i class="fas fa-pause"></i>
            </button>
            <button class="control-btn control-btn__next">
                <i class="fas fa-step-forward"></i>
            </button>
            <button class="control-btn control-btn__repeat">
                <i class="fas fa-redo"></i>
            </button>
        </div>
        <div class="progress-container">
            <span class="time start-time">0:00</span>
            <div class="progress-bar">
                <input
                    type="range"
                    class="progress-range"
                    min="0"
                    max="100"
                    value="0"
                />
            </div>
            <span class="time end-time">-:-</span>
        </div>
    </div>

    <div class="player-right">
        <button class="control-btn control-btn__lyrics">
            <i class="fas fa-microphone"></i>
        </button>
        <div class="volume-container">
            <button class="control-btn control-btn__volumn">
                <i class="fas fa-volume-down"></i>
            </button>
            <div class="volume-bar">
                <input
                    class="volume-range"
                    type="range"
                    min="0"
                    max="100"
                    value="50"
                />
            </div>
        </div>
        <button class="control-btn control-btn__expand">
            <i class="fas fa-expand"></i>
        </button>
    </div>
</footer>
